@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.background {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(10px);
  z-index: 1;
}

.carousel-background {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
  border-radius: 8px;
}

.carousel-container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  perspective: 1000px;
}

.game-slide {
  position: relative;
  padding: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin: 0 20px;
}

.game-image {
  width: 450px;
  height: 300px;
  max-height: 80%;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: #ffcc00;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
}

.slick-slide {
  opacity: 0.6;
}

.slick-center {
  opacity: 1;
}

@keyframes preload {
  0% { background-image: url('./../../assets/images/GTA.jpg'); }
  20% { background-image: url('./../../assets/images/FinalFantasy.jpg'); }
  40% { background-image: url('./../../assets/images/Burnout_3.jpg'); }
  60% { background-image: url('./../../assets/images/GodofWar.jpg'); }
  80% { background-image: url('./../../assets/images/ResidentEvil1.jpg'); }
  100% { background-image: url('./../../assets/images/MetalGearsSolid3.jpg'); }
}

.ps2-text {
  font-family: 'johnny', 'Arial', sans-serif; 
  font-size: 48px;
  color: white;
  text-align: center;
  margin-top: 200px;
  text-shadow: 2px 2px 5px rgb(255, 255, 255); 
  animation: pulse 1.5s infinite;
}

.ps2-button {
  background-color: rgb(255, 255, 255); 
  color: white;
  padding: 10px 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  font-size: 42px; 
  display: flex;
  justify-content: center;
  align-content: center;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.top-left-info, .top-right-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'chalice', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.top-left-info div,
.top-right-info div {
  margin-right: 20px; 
}

.top-left-info {
  top: 20px;
  left: 20px;
  position: absolute;
}

.top-right-info {
  top: 20px;
  right: 20px;
  position: absolute;
}

.ps-icon {
  width: 20px;
  height: 48px;
  animation: rock 1s infinite ease-in-out; 
}

.achievements {
  display: flex;
  align-items: center;
}

.achievements-icon {
  width: 32px;
  height: 24px;
  margin-right: 5px;
}

.achievements-count {
  font-size: 38px;
  font-family: 'chalice', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@keyframes rock {
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

.icon-container {
  position: relative;
  display: inline-block;
}

.ps-icon {
  width: 50px;
  height: 40px;
}

.icon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(219, 219, 224, 0.5);
  mix-blend-mode: multiply; 
  pointer-events: none; 
}

.memory-card-info, .player-info {
  font-size: 28px; 
  font-family: 'chalice', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
}

.ps2-text-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 50px; 
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  padding: 0 40px;
  z-index: 5;
  font-family: 'johnny', 'Arial', sans-serif; 
  font-size: 48px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  animation: pulse 1.5s infinite;
}

.ps2-text {
  text-align: left;
}

.ps2-close-text {
  font-family: 'johnny', 'Arial', sans-serif; 
  font-size: 48px;
  color: white;
  text-align: center;
  margin-top: 200px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
  animation: pulse 1.5s infinite;
  text-align: right;
}

.ps2-button-x {
  color: #007AFF;
  padding: 10px 20px;
  border-radius: 50%;
  display: inline-block;
  font-size: 42px;
  font-family: '' ;
}

.ps2-button-o {
  color: #FF3B30; 
  padding: 10px 20px;
  border-radius: 50%;
  display: inline-block;
  font-size: 42px;
  font-family: '' ;
}